@font-face {
  font-family: "Dela Gothic One"; /* Задайте имя для вашего шрифта */
  src: url("../fonts/DelaGothicOne-Regular.ttf");
  font-weight: 400; /* Определите вес шрифта */
  font-style: normal;
}

span.main {
  font-size: 96px;
  color: #EFEFEF;
  font-family: "Dela Gothic One";
}

span.RED {
  color: #ac0000;
}

.background-container {
  background-image: url("../images/dark_home_background.png"); /* Путь к фоновой картинке */
  background-size: cover; /*  Покрытие всей области */
  background-position: center; /*  Центрирование изображения */
  background-repeat: no-repeat; /*  Без повторений */
  height: 100vh; /*  Занимаем всю высоту  */
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-header {
  padding-top: 17vh;
}

span.menu {
  color: #DFDFDF;
  font-size: 36px;
  font-family: "Dela Gothic One"; /* Выберите желаемый шрифт */
  margin-right: 10px;
  transition: 0.5s ease;
}
.my-nav .nav-link {
  margin-top: 10vh;
}

span.menu:hover{
  color: #DFDFDF;
    font-size: 38px;
    font-family: "Dela Gothic One";
}

@media (max-width: 1400px) {
  span.main {
    font-size: 76px;
  }
  span.menu {
    color: #DFDFDF;
    font-size: 26px;
    font-family: "Dela Gothic One"; /* Выберите желаемый шрифт  color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-family: 'Dela Gothic One'; */
  }
  span.menu:hover{
    color: #DFDFDF;
      font-size: 28px;
      font-family: "Dela Gothic One";
  }
}

.phone-text {
  display: none; /* Скрываем текст по умолчанию */
}

.magazine {
  justify-content: left;
  align-items: left;
}

@media (max-width: 992px) {
  .phone-text {
    display: flex; /* Отображаем текст как блочный элемент */
    margin-left: 1vh;
    margin-top: 5vh;
    color: #DFDFDF;
    font-size: 20px;
    font-family: "Dela Gothic One";
  }
  .my-nav {
    display: none;
  }
  .main-header {
    padding-top: 5vh;
  }

  span.main {
    font-size: 85px;
  }
  span.menu {
    color: #DFDFDF;
    font-size: 26px;
    font-family: "Dela Gothic One"; /* Выберите желаемый шрифт  color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: white;
      font-family: 'Dela Gothic One'; */
  }
}

